<%= form_for(@picture) do |f| %>

    <%# f.error_messages! %>
    <%= f.file_field :picture %>
    <br>
    <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
    
<% end %>

<p><%= link_to "写真一覧画面にもどる", root_path %></p>